@import url(normalize.css);
@import url(fonts.css);
@import url(variables.css);

/* General */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  scroll-behavior: smooth;
}

.page__body {
  font-family: var(--font-family);
  font-size: 1.12rem;
  color: var(--white);
  background-color: var(--lavender);
}

.container {
  max-width: 112.5rem;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section__title {
  margin-bottom: 4.375rem;
  font-weight: 500;
  font-size: 3.75rem;
  text-transform: uppercase;
  text-align: center;
}

img {
  max-width: 100%;
  object-fit: contain;
  vertical-align: bottom;
}

/* Header */
.page__header {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1.25rem;
  padding-bottom: var(--section-padding);
  position: relative;
}

.nav {
  display: flex;
  align-items: center;
  max-width: 108.5rem;
  width: 108.5rem;
  position: absolute;
  top: 53px;
  left: 60px;
  z-index: 5;
}

.page__logo {
  margin-right: 150px;
}

.page__title {
  font-family: var(--font4);
  font-weight: 600;
  font-size: 49px;
}

.link__iconed {
  position: relative;
}

.catalog__link {
  margin-right: 23.375rem;
  padding-left: 1.6875rem;
}

.link__iconed::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  transform: translateY(-50%);
}

.catalog__link::before {
  width: 0.9375rem;
  height: 0.9375rem;
  background-image: url(../assets/img/icons/catalog_icon.svg);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  width: 9.6875rem;
  margin-right: 23.375rem;
}

.search__link {
  padding-left: 2.375rem;
}

.search__link::before {
  width: 1.625rem;
  height: 1.625rem;
  background-image: url(../assets/img/icons/search_icon.svg);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 158px;
  min-width: 133px;
  margin-left: auto;
}

.menu__item:last-child {
  display: none;
}

.icon__link {
  position: relative;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.icon__link_favorite {
  background-image: url(../assets/img/icons/favorite_icon.svg);
}

.icon__link_profile {
  background-image: url(../assets/img/icons/profile_icon.svg);
}

.icon__link_cart {
  background-image: url(../assets/img/icons/cart_icon.svg);
}

.icon__link_phone {
  background-image: url(../assets/img/icons/phone_icon.svg);
}

/* Slider */
.slider {
  margin: 0 auto;
}

.slider__list {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: 1.25rem;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 38.375rem;
  position: relative;
  height: 100%;
  padding-top: 6.25rem;
  border-radius: 2.5rem;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.slide:hover {
  flex: 4 0 1160px;
}

.slide_1 {
  background-color: var(--soft-violet);
}

.slide_1:hover {
  background-color: transparent;
}

.slide_2 {
  background-color: var(--pink);
}

.slide_3 {
  background-color: var(--blue);
}

.slide__title {
  margin: 1.5rem;
  font-weight: 500;
  font-size: 1.25rem;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}

.slide:hover .slide__title {
  align-self: flex-start;
  padding-left: 60px;
  font-size: 28px;
}

.slide__subtitle {
  display: none;
  position: absolute;
  left: 42px;
  top: 390px;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--lime);
  transition: all 0.5s ease-in-out;
}

.slide:hover .slide__subtitle {
  display: block;
}

.slide__bg-text {
  position: absolute;
  top: 26.875rem;
  width: 100%;
  font-family: var(--second-family);
  font-size: 4.375rem;
  text-transform: uppercase;
  text-align: center;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.slide__bg-text_1 {
  color: var(--pale-violet);
}

.slide:hover .slide__bg-text {
  font-size: 212px;
}

.slide__bg-text_2 {
  color: var(--pale-magenta);
}

.slide__bg-text_3 {
  color: var(--very-pale-blue);
}
.slide__pic {
  width: 18.125rem;
  height: 26.5625rem;
  margin-bottom: 5.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  order: -1;
  transition: all 0.5s ease-in-out;
}

.slide:hover .slide__pic {
  width: 360px;
  height: 637px;
  margin-bottom: 0;
}

.slide__img {
  rotate: 7deg;
  transition: all 0.5s ease-in-out;
}

.slide:hover .slide__img {
  rotate: 0deg;
  scale: 1.7;
}

.slide__desc {
  width: 17.5rem;
  margin-bottom: 1.75rem;
  padding-bottom: 1.75rem;
  font-weight: 500;
  font-size: 0.94rem;
  line-height: 153%;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.slide:hover .slide__desc {
  margin-left: 60px;
  align-self: flex-start;
  text-align: left;
}

.slide__price {
  position: relative;
  font-family: var(--second-family);
  font-size: 1.75rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}

.slide:hover .slide__price {
  margin-left: 60px;
  align-self: flex-start;
  font-size: 41px;
  color: var(--lime);
}

.slide__price sup {
  position: absolute;
  top: 11px;
  right: -18px;
  font-size: 1.25rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.slide__btn {
  display: none;
  position: absolute;
  bottom: 70px;
  right: 0;
  width: 377px;
  height: 212px;
  padding-left: 35px;
  color: inherit;
  background-color: transparent;
  background-image: url(../assets/img/decor/btn_bg-min.svg),
    url(../assets/img/icons/cart_icon-min.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 100%, 24px 24px;
  background-position: 0 0, 140px center;
  border: none;
  transition: all 0.5s ease-in-out;
}

.slide:hover .slide__btn {
  display: block;
  cursor: pointer;
}

/* Categories section */
.categories {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.categories__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category {
  position: relative;
  width: 26.75rem;
  height: 32.3125rem;
  background-image: url(../assets/img/decor/cat_bg.svg);
  background-repeat: no-repeat;
  background-size: 388px 462px;
}

.category__title {
  max-width: 11.5rem;
  padding-top: 2.3125rem;
  font-weight: 500;
  font-size: 1.75rem;
  text-transform: uppercase;
}

.category img {
  position: absolute;
  top: 7rem;
  left: 5rem;
}

.category__amount {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 9.1875rem;
  right: 0;
  width: 5.0625rem;
  height: 4.6875rem;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background-color: var(--pink);
  border-radius: 100%;
  rotate: -23deg;
}

.category__amount span {
  margin-top: 10px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 0.94rem;
  text-transform: uppercase;
}

.category__btn {
  position: absolute;
  left: 8.9375rem;
  bottom: 0;
  width: 100px;
  height: 101px;
  background-color: transparent;
  border: 2px solid var(--lime);
  border-radius: 100%;
  cursor: pointer;
}

.category__btn svg path {
  stroke: var(--lime);
}

/* Marquee section */
.tickers {
  padding-top: var(--section-padding);
  padding-bottom: calc(2 * var(--section-padding));
}

.ticker__wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
}

.ticker__wrapper_1 {
  background-color: var(--pale-violet);
  transform: rotate(5deg);
  transform-origin: left;
}

.ticker__wrapper_2 {
  background-color: var(--blue);
  transform: rotate(-2deg);
  transform-origin: center;
}

.ticker {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  padding-block: 20px;
}

.ticker_1 {
  animation: scroll-to-left 70s linear infinite;
}

.ticker_2 {
  animation: scroll-to-right 70s linear infinite;
}

.ticker__text {
  margin-left: 66px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.ticker__text::after {
  content: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.4936 0.633555L12.0053 9.8985L21.3531 10.7607L12.0881 12.2729L11.2254 21.6208L9.71367 12.3559L0.365883 11.4936L9.63088 9.98142L10.4936 0.633555Z' fill='white'/%3E%3C/svg%3E");
  margin-left: 66px;
}

@keyframes scroll-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

@keyframes scroll-to-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(calc(0% - 20px));
  }
}

/* Blog section */
.blog {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.section__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.375rem;
}

.articles__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 2.1875rem;
  margin-right: 2.8125rem;
}

.articles__control {
  width: 0.4375rem;
  height: 0.4375rem;
  background-color: var(--white);
  border-radius: 50%;
}

.articles__control:not(:first-child) {
  opacity: 0.3;
}

.blog__title {
  margin-bottom: 0;
  margin-right: auto;
}

.count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 11.8125rem;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.count__line {
  display: block;
  width: 3.9375rem;
  height: 0;
  margin-bottom: 0.4375rem;
  border: 0.125rem solid var(--pale-violet);
}

.articles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article {
  display: flex;
  align-items: center;
  column-gap: 3.375rem;
  position: relative;
  width: 36.25rem;
  height: 23.5rem;
  background-image: url(../assets/img/decor/article_bg.svg);
  background-repeat: no-repeat;
  background-size: 36.25rem 23.5rem;
}

.article__header {
  padding-left: 1.5625rem;
}

.article__title {
  font-weight: 500;
  font-size: 1.75rem;
  text-transform: uppercase;
}

.article__author {
  position: absolute;
  top: 2.1875rem;
  right: 55%;
  width: 5.625rem;
  font-weight: 500;
  font-style: normal;
  text-align: right;
}

.article__date {
  position: absolute;
  bottom: 2.6875rem;
  width: 5.625rem;
}

.article__img {
  padding-right: 0.8125rem;
  border-radius: 1.75rem 1.75rem 1.75rem 1.75rem;
  object-fit: cover;
}

.article__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -0.9375rem;
  left: 8.0625rem;
  width: 6rem;
  height: 5.0625rem;
  border: 0.125rem solid var(--lime);
  border-radius: 100%;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  rotate: -15deg;
}

.article__link span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 0.94rem;
  line-height: 1;
  text-transform: uppercase;
}

/* Footer */
.page__footer {
  padding-top: var(--section-padding);
  font-family: var(--font3);
  font-size: 1.125rem;
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding-block: 3.375rem;
}
