:root {
  /* colors */
  --pink: #fa8fef;
  --blue: #aecfff;
  --lavender: #ae97e8;
  --lime: #d9ff5a;
  --white: #ffffff;
  /* --delete: #7964ae; */

  /* fonts */
  --font-family: "Euclid Circular A", sans-serif;
  --second-family: "Floreste Wavy", sans-serif;
  --font3: "Gilroy", sans-serif;
  --font4: "Le Murmure", sans-serif;
  --font5: "Circe", sans-serif;

  /* paddings */
  --section-padding: 5.3125rem;
}
